html, body{
    background-color: $background-color;
    color: $font-color;
    width: 100vw;
    height: 100vh;
    font-family: $font-stack;
    font-size: 18px;
}

main{
    @include flexColumn;
    min-height: calc(100vh - 60px);
}

footer{
    width: 100%;
    height: 60px;
    @include flexCenter;

    p{
        color: $stats-color;
        font-size: 0.5rem;

        @include mq(768px){
            font-size: 1rem;
        }
    }

    a{
        color: $stats-color;
    }
}

img{
    display: block;
}