.searchEntry{
    @include flexColumn;
    padding-top: 40px;

    &__logo{
        letter-spacing: -5px;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.5rem;

        @include mq(768px){
            font-size: 4rem;
            letter-spacing: -10px;
        }
    }

    &__searchBar{
        width: 90vw;
        display: flex;
        border: 2px solid $search-bar-boder;
        border-radius: 500px;
        padding: .15rem .25rem .15rem .75rem;
        transition: all .3s ease;

        @include mq(768px){
            width: 80vw;
            padding: 1.25rem 1.5rem;
        }

        @include mq(1025px){
            width: 60vw;
        }

        &:hover, &:focus-within{
            box-shadow: 0 2px 5px 2px $search-bar-boder;
        }
    }

    &__input{
        flex-grow: 1;
        font-size: 0.75rem;text-align: left;
        letter-spacing: .1rem;
        border: 0;
        min-width: 150px;
        text-align: left;

        @include mq(768px){
            font-size: 1.25rem;
        }

        &:focus{
            outline: none;
        }
    }

    .button{
        cursor: pointer;
        background: transparent;
        min-width: 48px;
        min-height: 48px;
        border: 0;

        &:focus, &:active, &:hover{
            outline: none;
        }

        i{
            font-family: 'Font Awesome 5 Free';
            font-size: 1rem;

            @include mq(768px){
                font-size: 1.5rem;
            }
        }
    }

    &__searchButton{
        i{
            transition: color .3s ease;
        }
        &:hover, &:focus{
            i{
                color: $logo-green;
            }
        }

        @include mq(768px){
            padding-left: 1rem;
        }
    }

    .clear{
        justify-content: center;
        align-items: center;
        color: $stats-color;
        border-right: thin solid $clear-button-color;

        i{
            transition: color .3s ease; 
        }

        &:hover, &:focus{
            i{
                color: $logo-red;
            }
        }

        @include mq(768px){
            padding: 0 1rem;
        }
    }
}