.listItem{
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    padding: 15px 25px;
}

#vg-tooltip-element{
    font-size: 20px;
    color: #3e3c38;
}