*{
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
}
.title{
  display: inline-block;
  width: 100%;
  text-align: center;
  color: rgba(43, 43, 43, 0.801);
}
.face{
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}