.profile{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    padding: 15px;
    margin-bottom: 15px;

    &__name{
        width: 300px;
        height: 50px;
        margin-bottom: 15px;
    }

    &__email, &__info{
        width: 300px;
        height: 20px;
        margin-top: 5px;
        color: #a5a5a5;
    }
}